* {
    border: 1px dotted red;
}
.empty {
    width: 20px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
.squareShape {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    display: inline-block;
}
