* {
  background-image: url("src/starwars.jpg");
  background-size: cover;
  overflow: hidden;
  color: gray;
  font-family: sans-serif;
  font-size: 14;
  text-align: center;
  margin: 0;
}

#game-container {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;
}

canvas {
  border: solid 0.2em gray;
  background-color: black;
}

#tetris {
  height: 75vh;
}

#next {
  margin-top: 20px;
  opacity: 0.7;
}

aside {
  width: 100%;
  max-width: 200px;
  display: block;
  padding: 0 20px;
}

.aside-div {
  margin: 20px;
}

table,
th,
td {
  border: 1px solid grey;
  text-align: left;
}

td {
  padding: 5px;
}

#scoreBoard {
  font-size: 150%;
}

#resetButton {
  display: inline-block;
}
