* {
  background-image: url("starwars.jpg");
  color: white;
  font-family: sans-serif;
  font-size: 14;
  text-align: center;
}
#tetris {
  border: solid 0.2em white;
  height: 75vh;
}

aside {
  float: right;
}
